.blogDetailWrap{
    margin:50px;
    padding:10px;
    border:solid 1px rgba(0,0,0,0.2);
    h2{
        margin:10px 0;
    }
    .tags{
        span{
            display: inline-block;
            vertical-align: top;
            padding:4px;
            border:solid 1px rgba(0,0,0,0.2);
            margin:5px;
            border-radius: 5px;
        }
    }
}