
.footerWrap{
    background: #000000;
    color:#fff;
    padding:20px;
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    p{
        text-align: center;
        font-size: 16px;
        
    }
}